*::-webkit-scrollbar {
  height: 9px;
  width: 9px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: linear-gradient(
    185.69deg,
    rgba(244, 251, 251, 0.69) -1.11%,
    rgba(218, 242, 242, 0.09) 100.58%
  );
}

*::-webkit-scrollbar-thumb {
  background: #2f4f4f;
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #2f4f4f; /* creates padding around scroll thumb */
}


.bodyColour {
  background: linear-gradient(
    185.69deg,
    rgba(244, 251, 251, 0.69) -1.11%,
    rgba(218, 242, 242, 0.09) 100.58%
  );
}



.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input:focus {
  background-color: white !important;
}


.MuiTypography-root,
.MuiButton-root {
  font-family: "Poppins" !important;
}


.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #2b3131 !important;
}


.css-10hburv-MuiTypography-root {
  font-size: 12px !important;
  font-weight: 500;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  margin: 0 !important;
  padding: 0 !important;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Poppins" !important ;
  font-weight: 600;
  font-size: 19px;

}
.css-wgai2y-MuiFormLabel-asterisk {
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
